@model Employee_Leaving.Models.Employee
@{
    ViewData["Title"] = "Add Employee";
    // Layout = "~/Pages/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Leave Apply</title>
    <style>
        *{
          font-family:'Times New Roman', Times, serif;
        }
    </style>
</head>
<body style="background-color:lavender; color:black">
  
    </div>
    <div class="text-center card w-50 mx-auto " style="box-shadow:20px 20px 50px 10px lightblue inset" >
     <div class="card-body shadow rounded">
           

            <h1 class="display-8 card-title" style="color:black">Employee Registration</h1>
            </br>
            <style>
                table {
                    width: 40%;
                    border: 1px solid;
                    border-radius: 30px;
                }
            </style>
            <style>
                .form-group .required :after {
                    content: "*";
                    color: red;
                }
            </style>
           
            
            @using (Html.BeginForm("AddEmployees", "Home", FormMethod.Post))
            {

                <div class="card-text ">
                    <div align="center">
                        
                        @Html.HiddenFor(m => m.Emp_Id)
                        <div style="height:50px; width: 85% ;" class="mx-auto row row-cols-3 "required">
                            <div class='form-group required'>Name:<span style="color:red;font-size:20px">*</span> </div>
                            <div > @Html.TextBoxFor(m => m.Name ,new {  @class="form-control",required = "required",StringLength=25, MinimumLength = 5, ErrorMessage = "The name have minimum 5 and maximum 25 character",} ) </div>
                        </div>
                        <div style="height:50px;width: 85% ;" class=" mx-auto row row-cols-3 ">
                            <div>Email Id:<span style="color:red;font-size:20px">*</span> </div>
                            <div> @Html.TextBoxFor(m => m.Email_Id,new {  @class="form-control",required = "required" , maxlength = "30"} )</div>
                        </div>
                        <div style="height:50px;width: 85% ;" class=" row row-cols-3 ">
                            <div>Password:<span style="color:red;font-size:20px">*</span> </div>
                            <div> @Html.TextBoxFor(m => m.Password, new {  @class="form-control",required= "required",RegularExpression="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", ErrorMessage = "Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"})</div>
                        </div>
                        <div style="height:50px;width: 85% ;" class=" row row-cols-3 ">
                            <div>PhoneNum:<span style="color:red;font-size:20px">*</span> </div>
                            <div> @Html.TextBoxFor(m => m.PhoneNum ,new {  @class="form-control",required = "required" , maxlength = "20"} )</div>
                        </div>
                        <div style="height:50px;width: 85% ;" class=" row row-cols-3 ">
                            <div>Gender: </div>
                            <div>
                                    <label for="gender">Male</label>
                                    @Html.RadioButtonFor(m=>m.Gender ,"Male")
                                    <label for="gender">Female</label>
                                   @Html.RadioButtonFor(m=>m.Gender ,"Female")
                             </div>
                        </div>
                        <div style="height:50px;width: 85% ;" class=" row row-cols-3 ">
                            <div>Age:  </div>
                            <div>
                                @Html.TextBoxFor(m => m.Age  ,new {  @class="form-control",required = "required" , maxlength = "20"} )
                            </div>
                        </div>
                        <div style="height:50px;width: 85% ;" class=" row row-cols-3 ">
                            <div>City: </div>
                            <div>@Html.TextBoxFor(m => m.Location ,new {  @class="form-control",required = "required" , maxlength = "20"} )</div>
                        </div>
                        <br />
                        <div>  <input type="submit" class="btn btn-danger" value="Submit" /></div>
                    </div>
              </div>
        
          }      
     </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                };
            </script>
        }
</body>
</html>

