 
@using Employee_Leaving.Models
@model List<Employee>
@{
    ViewData["Title"] = "Admin";
}
<body style=" color:black;width:100%;">
    <div class=" btn btn-warning" style=" margin-left:85% ;">

        <div style="text-decoration:none">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
            </svg>  @Html.ActionLink("Add Employee","AddEmployee")
        </div>

    </div>
    <div class=" btn btn-warning" style=" margin-left:85%;margin-top:1%">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
            </svg>
            @Html.ActionLink("Leave Action","LeaveList")
        </div>

   </div>

    
    <h2 style="color:black">Employee Details</h2>
    <style>
        * {
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
    <style>
        table, th, td {
             text-align:center;
        }
       
    </style>
   
    
    <table class="table" id="dataTable" >

            <thead style="background-color:khaki ;color:black">
            <tr>
            <th>EmployeeID</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Password</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>Age</th>
            <th>City</th>
            <th data-orderable ="false" style="text-align:center">Action</th>
            </tr>
        </thead>
        <tbody>  
        @foreach (Employee item in Model)
        {
            <tr>
                <td>@item.Emp_Id</td>
                <td>@item.Name</td>
                <td>@item.Email_Id</td>
                <td>@item.Password</td>
                <td>@item.PhoneNum</td>
                <td>@item.Gender</td>
                <td>@item.Age</td>
                <td>@item.Location</td>
                
               
                <td>
                        <a href="/Home/LeaveDetailsshow/@item.Emp_Id" class="btn btn-secondary">
                            Leave Details
                        </a>
                        <a href="/Home/EditEmployee?Emp_Id=@item.Emp_Id" class="btn btn-primary">
                             Edit
                        </a>
                        <a onclick="deleteEmployee(@item.Emp_Id)" style="margin-left:30px" class=" btn btn-danger">
                             Delete
                        </a>
                </td>

            </tr>
        }
            </tbody>
            <tfoot>
                <tr>
                 
                </tr>
            </tfoot>
    </table>
    
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable();
        })
    </script>
}
    <style>
        a {
            text-decoration: none !important;
        }
    </style>