@model List<EmployeeLeaveDetails>
@{
    ViewData["Title"] = "Admin";
}
<body style=" color:black">
<br>
    <h2 style="color:black">Leave Details</h2>
    <style>
        * {
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
    <style>
        table, th, td {
           
            text-align: center;
        }
        th{
            background-color: blueviolet;
        }
       
    </style>
    
        <table class="table"  id="dataTable">
            <thead style="background-color:khaki ;">
            <tr>
        <th>LeaveId</th>
        <th>Employee Name</th>
        <th>LeaveType</th>
        <th>Starting Date</th>
        <th>Ending Date</th>
        <th>Total No Days</th>
        <th>Status</th>
        <th>Remaining NoLeaveDays</th>
        <th data-orderable="false">Action</th>
            </tr>
    </thead>
    <tbody>

    @foreach (EmployeeLeaveDetails item in Model)
    {
        <tr>
            <td>@item.LeaveId</td>
            <td>@item.EmployeeName</td>
            <td>@item.Leavename</td>
            <td>@item.StartingDate</td>
            <td>@item.EndingDate</td>
            <td>@item.TotalNoDays</td>
            <td>@item.ActionResult</td>
            <td>@item.RemainingLeaveDays</td>
            <td>
                    <a onclick="deleteLeave(@item.Emp_Id)" style="margin-left:30px" class=" btn btn-danger">Delete</a>
            </td>
     
        </tr>
    }
       </tbody>
            <tfoot>
                <tr>
                   
                </tr>
            </tfoot>
    </table>
   
    </body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section scripts
    {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable();
        })
    </script>
}
